<template>
  <div>
    PurpleBox
  </div>
</template>

<script>
export default {
  name: 'PurpleBox',
}
</script>

<style lang="css" scoped>
div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: rebeccapurple;
  color: aliceblue;
  font-size: 40px;
}
</style>
