<template>
  <div id="app">
    <PurpleBox />
  </div>
</template>

<script>
import PurpleBox from './components/PurpleBox'

export default {
  name: 'App',
  components: {
    PurpleBox
  }
}
</script>
